{% extends "homebase.html" %}

{% block title %} {{ content.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}




{% block content %}
    <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">
	    		<div class="col-sm-12">
					<h2 class="title text-center">{{content.title}}</h2>
				</div>
            </div><center><img src="{{ content.image.url }}" style="width: 100px;height: 100px"></center>
	    					 {{ content.detail|safe }}

    	</div>
    </div>


 {% endblock %}
