{% extends "homebase.html" %}

{% block title %} My Contents {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}



{% block content %}









   {% include "user_panel.html" %}


                    <div class="col-sm-10">
					<div class="blog-post-area">
						<h2 class="title text-center">Comment List </h2>
						<table class="glyphicon-shopping-cart table">
                            <thead>
                            <tr>
                                <th class="text-left">Image</th>
                                <th class="text-left">Title</th>
                                <th class="text-left">Category</th>
                                <th class="text-left">Price</th>
                                <th class="text-left">Amount</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Created At</th>

                            </tr>
                            {% for rs in contents %}
                            <tr>
                                <td class="text-center"><a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="width: 50px;width: 30px"></a></td>
                                <td class="text-center">{{ rs.title }}</td>
                                <td class="text-center">{{ rs.category.title}}</td>
                                <td class="text-center">{{ rs.price }}</td>
                                <td class="text-center">{{ rs.amount }}</td>
                                <td class="text-center">{{ rs.status }}</td>
                                <td class="text-center">{{ rs.created_at }}</td>
                                <td class="text-center"><a class="btn btn-success" href="/user/contentedit/{{ rs.id }}">Edit</a></td>
                                <td class="text-center"><a class="btn btn-danger" href="/user/contentdelete/{{ rs.id }}" onclick="return confirm('Silinecek Emin misin?')">Delete</a></td>
                            </tr>
                            {% endfor %}

                            </thead>
                        </table>
					</div><!--/blog-post-area-->
                    </div>



			</div>
		</div>
	</section>



 {% endblock %}
